$main-bg-blue-color: #06141B;
@import './form';

.authorization {
  position: absolute;
  width: 500px;
  height: 474px;
  background-color: $main-bg-blue-color;
  z-index: 20;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 24px;
}