$main-posts-blue-color: #4A5C6A;
$main-white-color: #CCD0CF;

.post {
  .post__username, .post__created {
    color: $main-white-color;
    font-size: 12px;
  }

  .post-wrapper {
    padding: 12px;
    display: flex;
    border-radius: 24px;
    position: relative;
    flex-direction: column;
    gap: 16px;
    width: 250px;
    height: 180px;
    flex-shrink: 0;
    color: $main-white-color;
    background-color: $main-posts-blue-color;
  
    .post__favorite-icon {
      position: absolute;
      top: 16px;
      right: 16px;
    }
  
    .post-wrapper__full-view {
      font-size: 10px;
    }
  }
}

