@use './header/header';
@use './button';
@use './media';
@use './main/main';
@use './post/post';
@use './filter/filter';
@use './user-logic/authotization';
@use './post/detail_post';
@use './user/user';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wdth@75..100&family=Space+Grotesk&display=swap');
@import '../node_modules/reset-css/reset.css';

$main-bg-blue-color: #06141B;
$main-white-color: #CCD0CF;

body {
  background-color: $main-bg-blue-color;

  .bg-main-white {
    background-color: $main-white-color;
  }

  .blured {
    filter: blur(2px);
  }

  .text-main-white {
    color: $main-white-color;
  }

  .liked {
    color: #E63946;
  }
}