@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wdth@75..100&family=Space+Grotesk&display=swap");
@import '../node_modules/reset-css/reset.css';
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #06141B;
  border-bottom: 1px #CCD0CF solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  padding-inline: 20px;
  gap: 30px;
}
.header .logo {
  font-family: "Space Grotesk", sans-serif;
  text-transform: lowercase;
  font-size: 36px;
  color: white;
}
.header .header__input {
  display: flex;
  padding: 7px 20px;
  gap: 10px;
  align-items: center;
  justify-content: start;
  width: 615px;
  border-radius: 50px;
  background: rgba(155, 168, 171, 0.5);
}
.header .header__input input {
  width: 100%;
  background-color: transparent;
  color: #CCD0CF;
}
.header .header__input input:focus {
  outline: none;
  border-color: none;
  box-shadow: none;
}
.header .header__username {
  color: #CCD0CF;
}

.button {
  color: white;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  background-color: #253745;
  border-radius: 50px;
}
.button:disabled {
  opacity: 0.5;
}

@media (max-width: 525px) {
  .create {
    margin-inline: 3rem !important;
  }
}
@media (max-width: 500px) {
  .create {
    margin-inline: 2rem !important;
  }
}
@media (max-width: 460px) {
  .create {
    margin-inline: 1rem !important;
  }
  .create .form-create__input {
    width: 340px !important;
  }
  .create .form-create__textarea {
    width: 340px !important;
  }
  .create .form-create__textarea--text {
    width: 340px !important;
  }
}
@media (max-width: 400px) {
  .form-create__input {
    width: 310px !important;
  }
  .form-create__textarea {
    width: 310px !important;
  }
  .form-create__textarea--text {
    width: 310px !important;
  }
}
@media (max-width: 525px) {
  .change {
    margin-inline: 3rem !important;
  }
}
@media (max-width: 500px) {
  .change {
    margin-inline: 2rem !important;
  }
}
@media (max-width: 460px) {
  .change {
    margin-inline: 1rem !important;
  }
  .form-change__input {
    width: 340px !important;
  }
}
@media (max-width: 400px) {
  .form-change__input {
    width: 310px !important;
  }
}
@media (max-width: 500px) {
  .form .form__input {
    width: 300px !important;
  }
  .form .form__authorize {
    width: 250px !important;
  }
  .authorization {
    max-width: 400px !important;
  }
}
@media (max-width: 400px) {
  .form .form__input {
    width: 250px !important;
  }
  .form .form__authorize {
    width: 200px !important;
  }
}
@media (max-width: 480px) {
  .profile {
    font-size: 12px;
  }
}
@media (max-width: 824px) {
  .main .posts-list {
    width: 790px;
  }
}
@media (max-width: 792px) {
  .main .posts-list {
    width: 520px;
  }
}
@media (max-width: 528px) {
  .main .posts-list {
    width: 250px;
  }
}
.main {
  max-width: 962px;
  min-height: 100vh;
  border-inline: 1px solid #CCD0CF;
  margin-inline: auto;
  margin-top: 64px;
}
.main .filter-wrapper {
  max-width: 794px;
  margin-inline: auto;
  padding-left: 20px;
}
.main .posts-list {
  max-width: 794px;
  margin-inline: auto;
}
.main .category-block__scroll-next {
  position: absolute;
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  padding: 12px 15px;
  background-color: #253745;
  right: 15px;
  top: 55%;
  z-index: 10;
}
.main .line {
  max-width: 794px;
  margin-inline: auto;
  height: 1px;
  background-color: #CCD0CF;
}
.main .category-block__scroll-prev {
  position: absolute;
  display: inline-flex;
  align-items: center;
  border-radius: 50%;
  padding: 12px 15px;
  background-color: #253745;
  left: 15px;
  top: 55%;
  z-index: 10;
}
.main .category-blocks {
  position: relative;
  display: flex;
  padding-top: 48px;
  padding-inline: 84px;
  overflow-x: auto;
  white-space: nowrap;
  overflow: hidden;
  gap: 22px;
}
.main .category-blocks .category-block {
  position: relative;
  width: 250px;
  overflow: hidden;
  flex-shrink: 0;
  height: 180px;
  color: white;
  font-weight: 300;
  font-size: 16px;
  transition: all 0.2s ease;
}
.main .category-blocks .category-block:hover {
  filter: brightness(1.2);
}
.main .category-blocks .category-block .category-block__name {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.post .post__username, .post .post__created {
  color: #CCD0CF;
  font-size: 12px;
}
.post .post-wrapper {
  padding: 12px;
  display: flex;
  border-radius: 24px;
  position: relative;
  flex-direction: column;
  gap: 16px;
  width: 250px;
  height: 180px;
  flex-shrink: 0;
  color: #CCD0CF;
  background-color: #4A5C6A;
}
.post .post-wrapper .post__favorite-icon {
  position: absolute;
  top: 16px;
  right: 16px;
}
.post .post-wrapper .post-wrapper__full-view {
  font-size: 10px;
}

.filter {
  background-color: transparent;
  border-radius: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px 12px;
  display: flex;
  gap: 6px;
  align-items: center;
  color: #CCD0CF;
  transition: all 0.1s ease;
}
.filter:hover {
  background-color: #253745;
}

.filter__show {
  position: absolute;
  top: 70%;
  right: -10px;
  color: #CCD0CF;
  background-color: #06141B;
  border: 1px solid #CCD0CF;
  border-radius: 8px;
  margin-top: 5px;
  z-index: 10;
  min-width: 100px;
}
.filter__show .filter__show-part--selected {
  background-color: #253745;
  border-radius: 8px;
}

.filter__show-part {
  padding: 6px 12px;
  transition: all 0.1s ease;
  cursor: pointer;
}
.filter__show-part:hover {
  border-radius: 8px;
  background-color: #1a2730;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
}
.form .form__input {
  display: flex;
  width: 393px;
  height: 40px;
  padding: 7px 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: rgba(155, 168, 171, 0.5);
  margin-inline: auto;
  border-radius: 8px;
  color: #CCD0CF;
}
.form .form__oauth {
  background-color: #CCD0CF;
  width: 393px;
  height: 44px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  margin-inline: auto;
  border-radius: 50px;
  justify-content: space-between;
}
.form .form__link {
  color: #5E89E5;
  font-size: 12px;
}
.form .form__authorize {
  width: 317px;
  height: 44px;
  margin-inline: auto;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  background-color: #CCD0CF;
  cursor: pointer;
}
.form .form__authorize:disabled {
  cursor: default;
  opacity: 0.2;
}
.form .disabled {
  opacity: 0.2;
}

.icon {
  display: flex;
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #CCD0CF;
  right: 16px;
  top: 16px;
  border-radius: 50%;
}

.authorization {
  position: absolute;
  max-width: 500px;
  background-color: #06141B;
  z-index: 20;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 24px;
  padding-bottom: 16px;
  padding-inline: 53px;
}

.detail-post {
  max-width: 794px;
  margin-inline: auto;
}
.detail-post .detail-post__user {
  display: flex;
  gap: 8px;
  align-items: center;
}
.detail-post .detail-post__text {
  color: #CCD0CF;
  font-size: 12px;
}

.user__data {
  display: flex;
  flex-direction: column;
  height: 60px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: trasnlate(-50%, -50%);
}

.image {
  vertical-align: bottom;
}

.image.image-loading {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.image {
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  display: inline-block;
  position: relative;
  user-select: text;
}

.spinner-wandering-cubes .spinner-item {
  -webkit-animation: spinner-wandering-cubes 1.8s infinite ease-in-out;
  animation: spinner-wandering-cubes 1.8s infinite ease-in-out;
  background-color: #7289da;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.spinner-wandering-cubes .spinner-item:last-child {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-wandering-cubes .spinner-item {
  -webkit-animation: spinner-wandering-cubes 1.8s infinite ease-in-out;
  animation: spinner-wandering-cubes 1.8s infinite ease-in-out;
  background-color: #7289da;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

@keyframes spinner-wandering-cubes {
  25% {
    -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5);
    transform: translateX(22px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg);
    transform: translateX(22px) translateY(22px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
    transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
.form-change__input {
  display: flex;
  width: 370px;
  height: 35px;
  padding: 7px 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: rgba(155, 168, 171, 0.5);
  margin-inline: auto;
  border-radius: 8px;
  color: #CCD0CF;
}

.change-avatar {
  transition: all 0.2s ease;
  cursor: pointer;
}
.change-avatar:hover {
  opacity: 0.8;
}

.form-create__input {
  display: flex;
  width: 400px;
  height: 35px;
  padding: 7px 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: rgba(155, 168, 171, 0.5);
  margin-inline: auto;
  border-radius: 8px;
  color: #CCD0CF;
}

.form-create__select {
  display: flex;
  border-radius: 24px;
  padding: 6px 12px;
  background-color: transparent;
  color: #CCD0CF;
  align-items: center;
  transition: all 0.1s ease;
}
.form-create__select:hover {
  background-color: #253745;
}

textarea::-webkit-scrollbar {
  background-color: transparent;
}

.form-create__textarea {
  resize: none;
  display: flex;
  padding: 10px 20px;
  border-radius: 8px;
  color: #CCD0CF;
  background-color: rgba(155, 168, 171, 0.5);
  width: 400px;
  height: 100px;
  overflow: hidden;
}

.form-create__textarea--text {
  resize: none;
  display: flex;
  padding: 10px 20px;
  border-radius: 8px;
  color: #CCD0CF;
  background-color: rgba(155, 168, 171, 0.5);
  width: 400px;
  height: 150px;
}

.error {
  border-radius: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.error:hover {
  filter: brightness(1.2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #06141B;
}
body .bg-main-white {
  background-color: #CCD0CF;
}
body .blurred {
  transition: all 0.2s ease;
  filter: blur(2px);
}
body .text-main-white {
  color: #CCD0CF;
}
body .liked {
  color: #E63946;
}
body .bg-button-color {
  background-color: #253745;
}

/*# sourceMappingURL=globals.css.map */
